@import "../../styles/variables.scss";

$rszr-right-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M15 5l-1.41 1.41L18.17 11H2V13h16.17l-4.59 4.59L15 19l7-7L15 5z'/%3E%3C/svg%3E");
$rszr-right-bottom-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M19 9h-2v6.59L5.41 4L4 5.41L15.59 17H9v2h10V9z'/%3E%3C/svg%3E");
$rszr-bottom-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23FFFFFF'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M19 15l-1.41-1.41L13 18.17V2H11v16.17l-4.59-4.59L5 15l7 7L19 15z'/%3E%3C/svg%3E");

$right-params: (
  top: calc(50% - 1.25rem),
  right: calc(0rem - 0.75rem),
  bottom: inherit,
  width: 1.5rem,
  height: 2.5rem,
  image: $rszr-right-bg-image,
);

$right-bottom-params: (
  top: inherit,
  right: calc(0rem - 0.75rem),
  bottom: calc(0rem - 0.75rem),
  width: 1.5rem,
  height: 1.5rem,
  image: $rszr-right-bottom-bg-image,
);

$bottom-params: (
  top: inherit,
  right: calc(50% - 1.25rem),
  bottom: calc(0rem - 0.75rem),
  width: 2.5rem,
  height: 1.5rem,
  image: $rszr-bottom-bg-image,
);

@mixin control-factory($params) {
  top: map-get($params, "top");
  right: map-get($params, "right");
  bottom: map-get($params, "bottom");
  width: map-get($params, "width");
  height: map-get($params, "height");
  background-image: map-get($params, "image");
}

.#{$lib-ns}__ctrl {
  content: "";
  background-color: $rszr-black;
  color: $rszr-white;
  cursor: pointer;
  position: absolute;
  font-size: 0.75rem;
  line-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;

  &.#{$lib-ns}__is-hidden {
    display: none;
  }

  &--right {
    @include control-factory($right-params);
  }

  &--right-bottom {
    @include control-factory($right-bottom-params);
  }

  &--bottom {
    @include control-factory($bottom-params);
  }
}
