.custom-example > .rszr__root {
  background-color: #ffffff;
  border: 2px solid #000101;
  border-radius: 20px;
}

.custom-example > .rszr__root > .rszr__root__container > .rszr__ctrl {
  background-color: #f1c553;
  border-radius: 20px;
  border: 2px solid #000101;
}

.custom-example > .rszr__root > .rszr__root__container > .rszr__ctrl:hover {
  background-color: #000101;
}
