.sidebar-example {
  display: flex;
  border: 1px solid #000101;
}

.sidebar-example > .rszr__root {
  margin: 0;
}

.sidebar-example > .content {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
